* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8CB3B8;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: #fff;
}

.hour,
.minute,
.second {
    position: absolute;
}

.hour,
.hr {
    height: 160px;
    width: 160px;
}

.minute,
.min {
    height: 190px;
    width: 190px;
}

.second,
.sec {
    height: 230px;
    width: 230px;
}

.hr,
.min,
.sec {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-content: center;
    position: absolute;
}

.hr::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: #848484;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.min::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 90px;
    background-color: #848484;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sec::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 150px;
    background-color: #ff6767;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}